* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* border: red 2px solid; */
}

:root {
    --bg-color: #ffffff;
    --sidebar-color: #EDE7E3;
    --text-color: #000000;
    --red: #CE2B37;
    --yellow: #FFA630;
    --blue: #3777FF;
    --grey: #DCDBDB;
}

button {
    /* flex: 1; */
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    border-radius: 5px;
    padding: 10px 5px;
    color: var(--text-color);
    border: none;
    width: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button[type=submit] {
    background-color: var(--red);
    color: white;
    padding: 10px;
    font-size: 14px;
}

button[type=reset] {
    background-color: var(--sidebar-color);
    color: var(--text-color);
    padding: 10px;
    font-size: 14px;
}

menu {
    display: flex;
    gap: 5px;
    padding: 0px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: auto;
}

li {
    display: flex;
    margin-bottom: 2px;
    border-radius: 5px;
    width: auto;
}

li:hover {
    background-color: var(--grey);
    cursor: pointer;
}

h1,
h2 {
    text-align: left;
    margin-bottom: 20px;
}

h1 {
    font-size: 36px;
}

input, textarea {
    margin-bottom: 5px;
    border: none;
    height: 30px;
}

textarea {
    resize: none;
}

input:focus, textarea:focus {
    border: none;
}

#container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0.5fr 5fr;
    height: 100vh;
}

#sidebar {
    background-color: var(--sidebar-color);
    padding: 16px;
    display: flex;
    grid-row: 1 / span 3;
    flex-direction: column;
    height: auto;
    width: auto;
}

#content {
    background-color: var(--bg-color);
    width: 100%;
    flex: 1;
    padding: 10px 180px;
}

#user-lists-heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: red 2px solid; */
}

#create-task-container {
    margin-bottom: 10px;
}

.task-dividing-line {
    color: var(--grey);
    opacity: 0.4;
}

#create-list {
    color: var(--red);
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    border-radius: 0;
}

#create-task-plus {
    width: 24px;
    height: 24px;
    background-color: var(--red);
    color: white;
    border-radius: 50%;
    line-height: 4px;
    /* Center the + vertically */
    margin-right: 4px;
    font-size: 18px;
    /* Adjust font size to match the icon */
}

dialog, .modal {
    border: var(--grey) 2px solid;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    font-size: 14px;
    position: static;
    /* display: flex; */
}

#create-list-form-group {
    display: flex;
    flex-direction: column;
}

#create-list-form-group input, label {
    margin-bottom: 10px;
}

#list-name {
    border: solid var(--grey) 2px;
    border-radius: 5px;
}

#create-task-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    flex-direction: column;
}

#task-name {
    font-weight: bold;
    font-size: 14px;
}

#task-name::-webkit-input-placeholder {
    font-weight: bold;
    font-size: 14px;
}

#description {
    font-size: 14px;
}

#description::-webkit-input-placeholder {
    font-size: 14px;
}

.task-item {
    display: flex;
    align-items: center;
    flex: 1;
    padding: 2px;
    height: 30px;
    /* border: red 2px solid; */
    justify-content: space-between;
}

.task-priority-color {
    border-radius: 100%;
    border: 3px solid;
    background-color: transparent;
    padding: 0px;
    height: 25px;
    width: 25px;
    margin-right: 10px;
}

.task-priority-color:hover {
    background-color: var(--grey);
    cursor: pointer;
}

.task-name {
    flex: 1;
}

.task-due-date {
    flex-shrink: 0;
}

#task-list {
    margin-bottom: 20px;
}

option:empty {
    display: none;
}